World-renowned <b>{{ job_function }}</b> <b>{{ first_name }}</b> <b>{{ last_name }}</b> had been stranded on this planet for far too long. Sick of the taste of <b>{{ food }}</b>, which was the only thing left to eat here, <b>{{ first_name }}</b> set out for higher ground. The  <b>{{ color }}</b>  <b>{{ plural_noun }}</b>  <b>{{ noun }}</b>  had to be stopped, and <b>{{ first_name }}</b> knew they were the only one that could stop them. After all, that's why <b>{{ company }}</b> hired <b>{{ first_name }}</b> in the first place.

<b>{{ first_name }}</b> soon spotted a large number of <b>{{ color }}</b> <b>{{ plural_noun }}</b>. They immediately swarmed <b>{{ first_name }}</b>, attacking on first sight. Things were taking a dire turn.

It was then that <b>{{ first_name }}</b> remembered the secret weapon <b>{{ company }}</b> had given them: <b>{{ adjective }}</b>  <b>{{ plural_noun }}</b> . It didn't take long for the  <b>{{ color }}</b>  <b>{{ plural_noun }}</b> to know they were going to lose this battle. Trying to save face, they quickly retreated, leaving <b>{{ first_name }}</b> to enjoy the sweet taste of victory. Although it cost a slight injury, the battle had been won. But the question still lingered: Who would win the war?

All <b>{{ first_name }}</b> knew was that <b>{{ company }}</b> would be thankful. Heck, all of <b>{{ country }}</b> would be thankful. Every small win counted during times like these. 

